<% var title = 'Authentication Example' %>
<% include head %>

<h1>Login</h1>
<%- message %>
Try accessing <a href="/send_message">/Send message</a>, then authenticate.
<form method="post" action="/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>

<% include foot %>