<% var title = 'Authentication Example' %>
<% include head %>

<h1>Send message</h1>
<%- message %>
<form method="post" action="/send_message">
  <p>
    <label>Mail:</label>
    <input type="text" name="mail">
  </p>
  <p>
    <label>Pass:</label>
    <input type="text" name="password">
  </p>
  <p>
    <label>Message:</label>
    <input type="text" name="message">
  </p>
  <p>
    <label>Send to:</label>
    <select name="filename">
      <% for(var i=0; i<files.length; i++) {%>
        <option value="<%= files[i] %>"><%= files[i] %></option>
      <% } %>
    </select>
  </p>
  <p>
    <input type="submit" value="Send">
  </p>
</form>

<% include foot %>