<% var title = 'Authentication Example' %>
<% include head %>

<h1>Send message</h1>
<%- message %>
Wahoo! send message area, click to <a href="/logout">logout</a>
<form method="post" action="/send_message">
  <p>
    <label>Message:</label>
    <input type="text" name="message">
  </p>
  <p>
    <label>Send to:</label>
    <select name="type">
      <option value="TRE_TRAU">Tre Trau</option>
      <option value="GIA_TRAU">Gia Trau</option>
      <option value="BAN_BE">Ban be</option>
    </select>
  </p>
  <p>
    <input type="submit" value="Send">
  </p>
</form>

<% include foot %>